<%= form_tag(users_path, method: :post) do %>
  <div>
    <%= label_tag :名前 %>
    <%= text_field_tag :name %>
  </div>
  <div>
  <%= label_tag :年齢 %>
  <%= text_field_tag :age %>
  </div>
  <div>
    <%= label_tag :住所 %>
    <%= text_field_tag :address %>
  </div>
  <div>
    <%= label_tag :趣味 %>
    <%= text_field_tag :hobby %>
  </div>
  <div>
    <%= label_tag :生年月日 %>
    <%= text_field_tag :birth %>
  </div>
  <div>
    <%= label_tag :メールアドレス %>
    <%= text_field_tag :mail %>
  </div>
  <div>
    <%= label_tag :電話番号 %>
    <%= text_field_tag :tell %>
  </div>
  
  <%= submit_tag "登録" %>
<% end %>