<%= form_tag(users_path, method: :post) do %>
  <%# ↑ターミナルで確認できる　users の　POSTメソッド　なのでuserコントローラーのcreateアクション が動く%>
  <%# postメソッドでは、users_controllerのcreateメソッドが動く
  なので、createアクションのviewが動いてcreate.html.erbが表示される %>
  <table>
    <tr>
     <th><%= label_tag :名前 %></th>
     <th><%= text_field_tag :name %></th>
    </tr>
    <tr>
     <th><%= label_tag :年齢 %></th>
     <th><%= text_field_tag :age %></th>
    </tr>
    <tr>
     <th><%= label_tag :住所 %></th>
     <th><%= text_field_tag :address %></th>
    </tr>
    <tr>
     <th><%= label_tag :趣味 %></th>
     <th><%= text_field_tag :hobby %></th>
    </tr>
    <tr>
     <th><%= label_tag :生年月日 %></th>
     <th><%= text_field_tag :birth %></th>
    </tr>
    <tr>
     <th></th>
     <th><%= submit_tag "登録" %></th>
    </tr>
  </table>
<% end %>

<%= form_tag(user_index_path, method: :get) do %>
          <%# ↑ターミナルで確認できる　users の　POSTメソッド　なのでuserコントローラーのcreateアクション が動く%>

 <%# postメソッドでは、users_controllerのcreateメソッドが動く
     なので、createアクションのviewが動いてcreate.html.erbが表示される %>
  <div>
    <%= label_tag :tell %>
    <%= text_field_tag :電話番号 %>
  </div>
  <div>
  <%= label_tag :wheigh %>
  <%= text_field_tag :体重 %>
  </div>


  <%= submit_tag "登録" %>
<% end %>
