<!DOCTYPE html>
<html>
<head>
  <title>Fukui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>

    <p>ナビゲーションバー：</p>
    <%= link_to 'index', users_path %>
    <%= link_to 'new', new_user_path %>
    <%= link_to 'show', 'users/show' %>
   

    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
