<!DOCTYPE html>
<html>
<head>
  <title>Fukui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>

    <p>ナビゲーションバー：</p>
    <%= link_to 'index', '/users' %>
    <%= link_to 'new', '/users/new' %>
    <%= link_to 'create', '/users/create' %>
    <%= link_to 'show', '/users/show' %>
    <%= link_to 'edit', '/users/edit' %>
    <%= link_to 'destroy', '/users/destroy' %>
    <%= link_to 'update', '/users/update' %>

    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
